html,
body {
  margin: 0;
  padding: 0; }

body {
  font-size: "Hind", sans-serif;
  font-family: "Hind", sans-serif; }

.header {
  height: 95vh;
  min-width: 600px;
  background-image: url(../img/m-h-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-right-radius: 38%; }
  .header_heading {
    font-size: 6rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c2f3c;
    line-height: 1;
    font-weight: bold;
    max-width: 50%;
    margin: 0.6em 0 0.6em; }
  .header_text {
    font-size: 1.2rem;
    font-family: Hind;
    max-width: 700px;
    color: #2c2f3c;
    margin-bottom: 5em; }
  .header_button, .section_banner_button {
    background-color: #699900;
    font-family: "Hind", sans-serif;
    font-weight: bold;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.6em 3em; }

.header-wrap {
  width: 80%;
  margin: 0 auto; }

.landing-logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-top: -5px;
  margin-left: 0;
  line-height: 1.2;
  font-family: 'Hind', sans-serif; }
  .landing-logo img {
    height: 55px;
    width: 55px; }
  .landing-logo p {
    color: #2c2f3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem; }
    .landing-logo p span {
      font-size: 0.8rem; }

.login {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro'; }

.header-wrap > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px; }

.section_card_wrap {
  margin: 0 auto; }
.section_text {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 600;
  font-family: 'Source Sans Pro'; }
.section_card {
  max-width: 1060px;
  background-color: #21232e;
  margin: 0 auto 2em;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  border-radius: 0.6em; }
  .section_card img {
    max-height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 0.6em; }
  .section_card_right_container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em; }
  .section_card_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.6em; }
  .section_card_text {
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 600px;
    padding: 0 5em;
    color: #c0c3ce;
    margin-bottom: 0.6em; }
.section > div {
  width: 60%; }
.section_link {
  font-size: 1.2rem;
  color: #c0c3ce; }
.section_banner {
  border-radius: 0.6em;
  padding: 0 2em;
  margin: 5em auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #699900, #2e5cd5);
  transform: translateY(50%); }
  .section_banner_text_wrap {
    padding: 0em 2em 1em 2em; }
  .section_banner_heading {
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    font-weight: bold;
    color: #2c2f3c;
    margin-bottom: 1em; }
  .section_banner_text {
    font-size: 1.2rem;
    color: #c0c3ce; }

.footer {
  width: 100%;
  background-color: #2c2f3c;
  color: #c0c3ce;
  padding-top: 5em;
  padding-bottom: 3em; }
  .footer .landing-logo p {
    color: #c0c3ce; }
  .footer .landing-logo img {
    margin-right: 1em; }
  .footer_text {
    max-width: 450px;
    font-family: 'Source Sans Pro', sans-serif; }

.footer-wrap {
  display: flex;
  justify-content: space-around; }
  .footer-wrap > div, .footer-wrap > p, .footer-wrap > span {
    display: flex;
    align-items: center;
    justify-content: center; }
