html,
body {
  margin: 0;
  padding: 0; }

a {
  padding: 0.2em; }

body {
  font-family: "Hind", sans-serif;
  font-size: "Hind", sans-serif; }

.header {
  background-image: url(../img/m-h-day.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 38%;
  height: 95vh;
  min-width: 600px; }
  @media (max-width: 992px) {
    .header {
      min-width: auto; } }
  .header_heading {
    color: #2c2f3c;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0.6em 0 0.6em;
    max-width: 50%; }
    @media (max-width: 1600px) {
      .header_heading {
        font-size: 6vw; } }
    @media (max-width: 992px) {
      .header_heading {
        font-size: 2.8rem;
        max-width: 80%; } }
  .header_text {
    color: #2c2f3c;
    font-family: Hind;
    font-size: 1.2rem;
    margin-bottom: 5em;
    max-width: 700px; }
  .header_button {
    background-color: #699900;
    border: none;
    color: #ffffff;
    font-family: "Hind", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6em 3em; }

.header-wrap {
  margin: 0 auto;
  width: 80%; }
  @media (max-width: 992px) {
    .header-wrap div:last-child {
      display: flex;
      flex-direction: column; }
      .header-wrap div:last-child button {
        margin: 2em 0; } }

.landing-logo {
  align-items: center;
  display: flex;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  justify-content: space-between;
  line-height: 1.2;
  margin-left: 0;
  margin-top: -5px;
  width: 170px; }
  .landing-logo img {
    height: 55px;
    width: 55px; }
  .landing-logo p {
    align-items: center;
    color: #2c2f3c;
    display: flex;
    flex-direction: column;
    font-size: 2rem; }
    .landing-logo p span {
      font-size: 0.8rem; }

.login {
  color: #ffffff;
  font-family: 'Source Sans Pro';
  font-size: 1.6rem; }

.header-wrap > div:last-child {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 600px; }

.section_card_wrap {
  margin: 0 auto; }
.section_text {
  font-family: 'Source Sans Pro';
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center; }
.section_card {
  background-color: #21232e;
  border-radius: 0.6em;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 2em;
  max-width: 1060px;
  padding: 2em; }
  .section_card img {
    border-radius: 0.6em;
    max-height: 100%;
    object-fit: cover;
    width: 40%; }
    @media (max-width: 992px) {
      .section_card img {
        display: none; } }
  .section_card_right_container {
    align-items: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em; }
  .section_card_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.6em; }
  .section_card_text {
    color: #c0c3ce;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.6em;
    max-width: 600px;
    padding: 0 5em;
    text-align: justify; }
    @media (max-width: 992px) {
      .section_card_text {
        padding: 1em; } }
.section > div {
  width: 60%; }
  @media (max-width: 992px) {
    .section > div {
      width: 100%; } }
.section_link {
  color: #c0c3ce;
  font-size: 1.2rem; }
.section_banner {
  align-items: center;
  background: linear-gradient(to right, #699900, #2e5cd5);
  border-radius: 0.6em;
  display: flex;
  justify-content: space-around;
  margin: 5em auto 0;
  padding: 0 2em;
  transform: translateY(50%); }
  @media (max-width: 992px) {
    .section_banner {
      border-radius: 0;
      flex-direction: column;
      margin: 0;
      padding: 2em;
      transform: translateY(0); } }
  .section_banner_text_wrap {
    padding: 0em 2em 1em 2em; }
    @media (max-width: 992px) {
      .section_banner_text_wrap {
        padding: 0;
        text-align: center; } }
  .section_banner_heading {
    color: #2c2f3c;
    font-family: 'Source Sans Pro';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em; }
  .section_banner_text {
    color: #c0c3ce;
    font-size: 1.2rem; }

.footer {
  background-color: #2c2f3c;
  color: #c0c3ce;
  padding-bottom: 3em;
  padding-top: 5em;
  width: 100%; }
  @media (max-width: 992px) {
    .footer {
      padding-top: 2em; } }
  .footer .landing-logo p {
    color: #c0c3ce; }
  .footer .landing-logo img {
    margin-right: 1em; }
  .footer_text {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 450px; }

.footer-wrap {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 992px) {
    .footer-wrap {
      align-items: center;
      flex-direction: column;
      padding: 2em; } }
  .footer-wrap > div, .footer-wrap > p, .footer-wrap > span {
    align-items: center;
    display: flex;
    justify-content: center; }
