* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid hsla(0, 0%, 0%, .05); /*for debug*/
}

body {
    font-size: 16px;
}
#root{
    position: relative;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.book-list{
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
}
.lightBox{
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}
.book-list li{
    padding: 0.5em 1em;
    cursor: pointer;
}
.book-list li:hover{
    background-color: hsla(0,0%,90%,1);
}
#bookCard{
    flex: 1;
}
#card{
    visibility: hidden;
    width: 100%;
    padding: 1em 2em;
}
#card.active{
    visibility: visible;
}
#card button{
    cursor: pointer;
    border: none;
    padding: 1em 3em;
    background-color: hsla(0,0%,100%,1);
}