/FL13_HW4/task
/FL13_HW5/examples
/FL13_HW5/task
/.idea
/FL13_HW6/task/
/FL13_HW7/task/
/FL13_HW8/task/
/FL13_HW9/task/
/FL13_HW10/task/
/FL13_HW11/task/
/FL13_HW12/task/
/FL13_HW13/task.docx
/FL13_HW13/mockup
/FL13_HW14/task/
/FL13_HW15/task/
/FL13_HW16/task/
