/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

:root {
    --link             : #FFFFFF;
    --text--color      : #484848;
    --link--hover      : #B8B8B8;
    --bg-color--dark   : #0B192F;
    --bg-color--medium : #162B4D;
}

body {
    background-color : var(--bg-color--dark);
    box-sizing       : border-box;
    font-family      : Roboto, serif;
    font-size        : 16px;
    line-height      : 1.5;
    margin           : 0;
}

.article-1 {
    background : #F3D250;
}

.article-2 {
    background : #8D8741;
}

.article-3 {
    background : #659DBD;
}

.article-4 {
    background : #DAAD86;
}

/* Your styles go here */
h1, h2 {
    font-weight : 200;
    margin      : 1rem 0;
}

h2 {
    font-size : 2.5rem;
}

p {
    color : var(--text--color);
}

a {
    color           : var(--link);
    cursor          : pointer;
    text-decoration : none;
}

nav a:hover {
    background-color : var(--link--hover);
}

ul {
    list-style-type : none;
}

header {
    align-items      : center;
    background-color : var(--bg-color--medium);
    display          : flex;
    flex-direction   : column;
    padding          : 2rem 2rem 1rem;
}

header .logo {
    color : var(--link);
}

header .logo span {
    color : #800080;
}

header nav {
    display : none;
}

.hamburger {
    display       : block;
    margin-bottom : 3rem;
    width         : 20px;
}

.hamburger span {
    background-color : #FFFFFF;
    display          : block;
    height           : 2px;
    margin-top       : 5px;
    width            : 100%;
}

.article {
    padding-bottom : 2rem;
}

.article__img {
    max-width  : 100%;
    object-fit : cover;
}

.article__body {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    padding        : 0 2em 1em;
}

.article__time {
    font-size   : 2.5rem;
    font-weight : 200;
}

.article__time__month {
    font-size : 0.8em;
}

.article__link {
    border-bottom  : 1px solid var(--text--color);
    color          : var(--text--color);
    display        : block;
    padding        : 1em .5em .5em 2em;
    text-transform : uppercase;
}

/* mobile-first queries */
@media (min-width : 480px) {
}

@media (min-width : 768px) {
}

@media (min-width : 1400px) {
}
