/*

write your code here

*/
@media print {
  .tm-sidebar {
    display: none;
  }
  section {
    background-color: #fff;
    text-align: center;
  }
  img:not([src*="logo"]) {
    display: none;
  }
  .tm-team-description-container,
  .carousel-inner {
    max-width: 680px;
  }
  .tm-section-description {
    font-style: italic;
  }
  #about {
    display: none;
  }
  .tm-section-title {
    text-transform: uppercase;
  }
  .tm-content-box {
    margin-bottom: 0;
  }
  .gallery-container {
    display: none;
  }
  .flex-item {
    margin: 0 auto;
  }
  ol {
    columns: 2;
    margin: 0 auto;
    padding-left: 0;
    max-width: 50%;
    list-style-type: none;
  }
  ol li {
    height: 4em;
  }
  .carousel {
    display: flex;
    justify-content: center;
  }
  .carousel-indicators {
    display: none;
  }
  .blocks:first-of-type {
    page-break-before: always;
  }
  #contact {
    display: none;
  }
}
@media screen {
  .tm-sidebar ul {
    padding: 0 8vw;
  }
  section p {
    font-style: italic;
  }
  .tm-nav-item-link:hover {
    background-color: lightskyblue;
    color: #ffffff;
  }
  .tm-banner {
    background: linear-gradient(to top, lightskyblue, burlywood);
  }
  .tm-banner-inner {
    background-color: #fff;
  }
  .tm-banner-text {
    transform: rotate(45deg);
    animation: bannerTextRotate 3s ease-in forwards;
    will-change: transform;
  }
  nav,
  .tm-main-content > div,
  .tm-main-content > section {
    box-shadow: 5px 5px 10px 0 rgba(61, 55, 61, 0.7);
  }
  section:first-of-type > div:first-child {
    display: flex;
    flex-direction: row-reverse;
  }
  .tm-team-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section:first-of-type img {
    max-width: 100%;
  }
  .flex-item.tm-team-img {
    display: flex;
    align-items: center;
  }
  @keyframes bannerTextRotate {
    to {
      transform: rotate(0);
    }
  }
  #about h2 {
    transition: all 0.3s ease;
  }
  #about h2:hover {
    background-color: lightskyblue;
    color: #ffffff;
  }
  section {
    position: relative;
  }
  section:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid lightskyblue;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid lightskyblue;
    width: 40px;
    height: 40px;
    content: "";
  }
  section:first-of-type .tm-team-description-container {
    background-color: #ffffff;
  }
  h2 {
    text-align: center;
    color: lightskyblue;
    font-weight: 300;
  }
  ol {
    list-style-type: decimal-leading-zero;
  }
  .heading li:first-child:after,
  .heading li:nth-child(3):after {
    display: inline-block;
    transform: translate(0%, -50%);
    color: red;
    font-size: 0.6em;
    font-weight: 600;
    content: "New";
  }
  ol > li:nth-child(6) a {
    color: red;
    font-weight: bold;
  }
  ol > li:nth-child(6) a:before {
    color: red;
    content: "> ";
  }
  h2 + p {
    text-indent: 1em;
    line-height: 1.8;
    font-style: italic;
  }
  .box.box-work {
    padding: 10px;
  }
  .box-work h2 {
    text-align: left;
    color: #000000;
  }
  .box-work p {
    text-indent: 0;
  }
  .box-work p::first-letter {
    font-weight: bold;
  }
  .box-work:nth-child(even) {
    background-color: lightskyblue;
    color: #ffffff;
  }
  .box-work:nth-child(even) h2 {
    color: #ffffff;
  }
  #contact > h2 {
    text-align: right;
  }
  input {
    transition: all 0.3s;
  }
  input[type="text"],
  input[type="email"] {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid lightskyblue;
    border-left: none;
  }
  input:focus,
  textarea:focus {
    background-color: hsl(187, 60%, 67%);
    color: #ffffff;
  }
  .form-control {
    border-color: lightskyblue;
  }
  .form-control:focus {
    border-color: lightskyblue;
    box-shadow: none;
  }
  .form-group:nth-child(3) {
    display: inline-block;
    width: 100%;
  }
  .form-group:nth-child(3):after {
    display: block;
    position: absolute;
    right: 40px;
    float: right;
    transform: translate(0, calc(-100% - 2px));
    background-image: url(../img/email-icon.png);
    background-size: contain;
    width: 32px;
    height: 32px;
    content: "";
  }
  .btn {
    float: right;
    transition: all 0.3s ease;
    border: 1px solid lightskyblue;
    border-radius: 0;
    background-color: #ffffff;
    padding: 10px 40px;
    color: lightskyblue;
  }
  .btn:hover {
    border: 1px solid hsl(186, 60%, 67%);
    background-color: hsl(186, 60%, 67%);
    color: #ffffff;
  }
}
