/* TODO: your styles goes here*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    font-family: Arial, serif;
    font-size: 1rem;
    padding-left: 2em;
    user-select: none;
}

.container:only-child {
    padding: 2em;
}

.container input[type='checkbox'] {
    /*display: none;*/
}

.container input[type='checkbox'] ~ ul {
    display: none;
}

.container input[type='checkbox']:checked ~ ul {
    display: block;
}

.container li {
    list-style-type: none;
    padding: .2em;
}
