// Write your styles here
// mixins & main rules
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-base;
  font-family: $font-base;
}

.header {
  height: 95vh;
  min-width: 600px;
  background-image: url(../img/m-h-day.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-right-radius: 38%;

  &_heading {
    font-size: $fontsize-xxlg;
    font-family: $font-headings;
    color: $color-dark_lighten;
    line-height: 1;
    font-weight: bold;
    max-width: 50%;
    margin: $spacing-xs 0 $spacing-xs;
  }

  &_text {
    font-size: $fontsize-sm;
    font-family: Hind;
    max-width: 700px;
    color: $color-dark_lighten;
    margin-bottom: $spacing-xlg;
  }

  &_button {
    background-color: $color-accent_secondary;
    font-family: $font-base;
    font-weight: bold;
    border: none;
    color: $color-light;
    font-size: $fontsize-sm;
    padding: $spacing-xs $spacing-lg;
  }

}

.header-wrap {
  width: 80%;
  margin: 0 auto;
}

.landing-logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  margin-top: -5px;
  margin-left: 0;
  line-height: 1.2;
  font-family: 'Hind', sans-serif;

  img {
    height: 55px;
    width: 55px;
  }

  p {
    color: $color-dark_lighten;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fontsize-lg;

    span {
      font-size: $fontsize-xs;
    }
  }
}

.login {
  color: $color-light;
  font-size: $fontsize-md;
  font-family: 'Source Sans Pro';
}

.header-wrap>div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
}

.section {
  &_card_wrap {
    margin: 0 auto;
  }

  &_text {
    font-size: $fontsize-xlg;
    text-align: center;
    font-weight: 600;
    font-family: 'Source Sans Pro';
  }

  &_card {
    max-width: map-get($breakpoints, large) - 140px;
    background-color: $color-dark;
    margin: 0 auto $spacing-md;
    display: flex;
    justify-content: space-around;
    padding: $spacing-md;
    border-radius: $spacing-xs;

    img {
      max-height: 100%;
      width: 40%;
      object-fit: cover;
      border-radius: $spacing-xs;
    }

    &_right_container {
      color: $color-light;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: $spacing-md;
    }

    &_heading {
      font-family: $font-headings;
      font-weight: 600;
      font-size: $fontsize-lg;
      margin-bottom: $spacing-xs;
    }

    &_text {
      text-align: justify;
      font-size: $fontsize-sm;
      font-weight: 400;
      max-width: 600px;
      padding: 0 $spacing-xlg;
      color: $color-light_darken;
      margin-bottom: $spacing-xs;
    }
  }

  &>div {
    width: 60%;
  }

  &_link {
    font-size: $fontsize-sm;
    color: $color-light_darken;
  }

  &_banner {
    border-radius: $spacing-xs;
    padding: 0 $spacing-md;
    margin: 5em auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, $color-accent_secondary, #2e5cd5);
    transform: translateY(50%);

    &_text_wrap {
      padding: 0em $spacing-md $spacing-sm $spacing-md;

    }

    &_heading {
      font-family: 'Source Sans Pro';
      font-size: $fontsize-lg;
      font-weight: bold;
      color: $color-dark_lighten;
      margin-bottom: $spacing-sm;
    }

    &_text {
      font-size: $fontsize-sm;
      color: $color-light_darken;
    }

    &_button {
      @extend .header_button
    }
  }
}


.footer {
  width: 100%;
  background-color: $color-dark_lighten;
  color: $color-light_darken;
  padding-top: $spacing-xlg;
  padding-bottom: $spacing-lg;

  .landing-logo {
    p {
      color: $color-light_darken;
    }

    img {
      margin-right: $spacing-sm;
    }
  }

  &_text {
    max-width: 450px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-around;

  &>div,
  &>p,
  &>span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}