// // colors
// $color-dark_lighten: #2c2f3c;
// $color-dark: #21232e;
// $color-light: #ffffff;
// $color-light_darken: #c0c3ce;
// $color-accent: #14a0c7;
// $color-accent_secondary: #699900;
// $color-mark: #2e5cd5;
// $color-mark_lighten: #14a0c7;

// $hero-bg-image: url(../img/m-h-day.jpg);

// colors
$color-bg: #ffffff;
$color-headings: #21232e;
$color-cards-bg: #2c2f3c;
$color-text: #ffffff;

$color-text_darken: #c0c3ce;
$color-accent: #14a0c7;
$color-button-bg: #699900;
$color-mark: #2e5cd5;
// $color-gradient-from:

$hero-bg-image: url(../img/m-h-day.jpg);
