:root {
  --color-text: #777777;
  --color-heading: #000000;
  --color-accent: #dfda55;
  --color-bg: #ffffff;

  --font-base: 16px;
  --font-small: 0.8rem;
  --font-h2: 2rem;
  --font-logo: 1.3rem;
  --font-navigation: 1.2rem;
  --font-hero: 4.5rem;

  --font-primary: "Merriweather", serif;

  --navigation-height: 100px;
}
body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
}
button:hover,
a:hover,
button:focus,
a:focus {
  color: var(--color-accent);
}
h2 {
  font-size: var(--font-h2);
}
button {
  font-size: var(--font-base);
  padding: 1.2em 2.3em;
  background: var(--color-bg);
  border: none;
  border-radius: 50px;
  letter-spacing: 0.1em;
  font-family: var(--font-primary);
  font-weight: 600;
  border: 1px solid var(--color-text);
}
.wrapper {
  background-color: var(--color-bg);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto 0;
  max-height: var(--navigation-height);
}
.header-logo {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: var(--font-logo);
  font-weight: bold;
  margin-left: 1.7em;
  margin: 1em;
}
.main-navbar {
  display: flex;
  list-style-type: none;
}
.main-navbar_link {
  display: inline-block;
  font-size: var(--font-navigation);
}
.main-navbar_link a {
  padding: 20px 1.5em;
}

.hero {
  height: calc(100vh - var(--navigation-height));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  color: var(--color-bg);
  margin-bottom: 120px;
}
.hero_inner {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.hero_heading {
  font-size: var(--font-hero);
  margin-bottom: 0;
  text-align: center;
}
.hero_slogan {
  margin-top: 2em;
  letter-spacing: 0.2em;
  color: var(--color-accent);
  font-size: var(--font-small);
}
.hero_cta-btn {
  font-size: var(--font-small);
  margin-top: 3rem;
  text-transform: uppercase;
}

/* Page  */

.article-card {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
}
.article-card_cover {
  width: 100%;
  margin-bottom: 1em;
}
.article-card_info {
  display: flex;
  align-items: center;
  font-family: serif;
  font-size: var(--font-navigation);
  color: var(--color-text);
}
.article-card_info > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5em;
}
.article-card_author-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
.article-card_text {
  color: var(--color-text);
  margin-bottom: 3em;
}
.article-card hr {
  margin: 5em 0;
  border: none;
  color: var(--color-text);
  background-color: var(--color-text);
  height: 1px;
  opacity: 0.2;
}
footer {
  background-color: var(--color-heading);
  color: var(--color-text);
  padding: 8em 0;
  margin-top: 8em;
}
.footer-wrap {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-wrap > section {
  flex: 1;
}
.footer-wrap > section:last-child {
  margin-left: 10em;
}
.footer-wrap h2 {
  color: var(--color-bg);
}
.footer-logo {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .article-card {
    width: 80%;
  }
  .footer-wrap {
    max-width: 80%;
  }
}
@media (max-width: 800px) {
  .header-wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 1em;
  }
  .article-card {
    width: calc(100% - 2em);
  }
}
